.tamataski_container {
    z-index: 999999;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%;
    justify-content: center;
    pointer-events: none;
}

.tamataski_canvas{
    height: 100%;
    width: 100%;
    bottom: 0px;
    pointer-events: none;
}

