.tamataski_container {
    z-index: 999999;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 8%;
    justify-content: center;
}

.tamataski_canvas{
    height: 100%;
    width: 100%;
    bottom: 0px;
}

